
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*


*.exr

*.bin
Omega/Library/metadata/3a/3a927864fd3566b4fb62a9b7a7dcb007

*.csproj

*.asset

*.asset

*.asset

*.asset

*.asset

*.buildreport
